.black-bg {
    background-color: #000;
}

/* work-section */
.project {
    transition: transform .2s;
}

.project:hover {
    transform: scale(1.03);
}

.overlay-bg {
    background-color: rgba(1, 46, 64, 0.7);
    z-index: 0;
}

@media screen and (max-width: 820px) {
 /* hero */
    #jumbotron .slide {
        flex-direction: column-reverse;
    }
    #emad-img {
       height: 500px;
    }
}