/* hero */
#jumbotron {
    background-color: #000;
}

/* work-section */
.project {
    position: relative;
    transition: transform .2s;
}

.project:hover {
    transform: scale(1.03);
}

.overlay-bg {
    background-color: rgba(1, 46, 64, 0.7);
    position: absolute;
    left: 0;
    bottom: 0;
    height: 140px;
}

@media screen and (max-width: 820px) {
 /* hero */
    #jumbotron .slide{
        flex-direction: column-reverse;
    }
}